[Match]
PermanentMACAddress=56:00:04:b1:d2:e3
Name=enp1s0

[Network]
DHCP=ipv6
LinkLocalAddressing=ipv6
Address=144.202.81.146/23
Address=2a0e:8f02:21c0::e621/48
Address=2a0e:7d44:f000::e621/48
IPv6AcceptRA=yes

[Route]
Destination=0.0.0.0/0
Gateway=144.202.80.1

[DHCP]
RouteMetric=100
UseMTU=true
