[Match]
Name=router-a-ipv6

[Link]
MTUBytes=1480

[Network]
LinkLocalAddressing=ipv6
Address=2a0e:7d44:f000:a::1/64
ConfigureWithoutCarrier=yes

[Route]
Destination=2a0e:7d44:f00a::/48
Gateway=2a0e:7d44:f000:a::2

[Route]
Destination=2a0e:7d44:f069::/48
Gateway=2a0e:7d44:f000:a::2
